---
layout: default
---

<!-- activities.html -->
<div class="post">
  <!-- activities.md content -->
  <div class="clearfix">
    {{ content }}
  </div>

  <div>
    <ol class="ml-auto">
      <li style="display: grid; justify-content: left;">
        <div style="border: solid #00369f; border-width: 1.5px; padding: 5px; border-radius: 0.25rem; align-items: center;">
          <a href="https://github.com/MLNLP-World" style="font-weight: 200;">
            Join us
          </a>
        </div>
      </li>
    </ul>
  </div>

  <!-- {% for activity in site.activities %}
  <h2>{{ activity.name }} - {{ activity.date }}</h2>
  <p>{{ activity.content | markdownify }}</p>
  {% endfor %} -->

  <div class="publications">
    <ol class="bibliography">

      {% for activity in site.activities %}
      {% assign tags_string = activity.tags | join: ' ' %}
      <li class="{{tags_string}}">
        <div class="row">
          <div class="col-sm-2 card-img" style="height: 150px;">
            <img src="/assets/ac_img/{{activity.img}}" style="width: 100%; height: 100%; object-fit: contain;border-radius: .25rem;">
          </div>
          <div class="col-sm-8">
            <a href="{{activity.href}}" class="title">{{activity.title}}</a>
            <div class="author">{{activity.people}}</div>
            <div class="periodical">{{activity.detail}}</div>
            <div class="links"> 
              {% for tag in activity.tags %}
              <a href="" class="btn btn-sm z-depth-0" role="button">{{tag}}</a> 
              {% endfor %}
            </div>
          </div>
          <hr color="#cccccc" size="2" width="50%">
        </div>
      </li>
      {% endfor %}

    </ol>
  </div>


</div>