---
layout: default
---

<!-- activities.html -->
<div class="post">
  <!-- activities.md content -->
  <div class="clearfix">
    {{ content }}
  </div>

  <div class="publications">
      <div style="display: flex; justify-content: left; padding:5px; flex-wrap: wrap">

        <div style="border: solid #333333; border-width: 1.5px; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 0.25rem; align-items: center; margin: 5px;">
          <a id="all" style="font-weight: 200;">
            ALL
          </a>
        </div>
        
        {% for tag in page.all_tags %}
        <div style="border: solid #333333; border-width: 1.5px; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 0.25rem; align-items: center; margin: 5px;">
          <a id="{{tag}}" style="font-weight: 200; text-transform: uppercase;">
            {{tag}}
          </a>
        </div>

        <script>
          document.getElementById("{{tag}}").addEventListener("click", function() {
            var listItems = document.querySelectorAll(".show_list li");
            for (var i = 0; i < listItems.length; i++) {
              var listItem = listItems[i];
              if (listItem.classList.contains("{{tag}}")) {
                listItem.style.display = "block";
              } else {
                listItem.style.display = "none";
              }
            }
          });
        </script>
        {% endfor %}

      </div>
  </div>

  <script>
    document.getElementById("all").addEventListener("click", function() {
      var listItems = document.querySelectorAll(".show_list li");
      for (var i = 0; i < listItems.length; i++) {
        var listItem = listItems[i];
        listItem.style.display = "block";
      }
    });
  </script>

  <div class="publications">
    <ol class="bibliography show_list">

      {% assign sorted_activities = site.activities | sort_natural: 'date' %}
      {% for activity in sorted_activities %}
      {% assign tags_string = activity.tags | join: ' ' %}
      <li class="{{tags_string}}">
        <div class="row">
          <div class="col-sm-2 card-img" style="height: 150px;">
            <img src="/assets/ac_img/{{activity.img}}" style="width: 100%; height: 100%; object-fit: contain;border-radius: .25rem;">
          </div>
          <div class="col-sm-8">
            <a href="{{activity.href}}" class="title">{{activity.title}}</a>
            <div class="author" style="margin-top: 5px;margin-bottom: 5px;">{{activity.people}}</div>
            <div class="periodical" style="margin-top: 5px;margin-bottom: 5px;">{{activity.detail}}</div>
            <div class="links"> 
              {% for tag in activity.tags %}
              <a href="" class="btn btn-sm z-depth-0" role="button">{{tag}}</a> 
              {% endfor %}
            </div>
          </div>
          <hr color="#cccccc" size="2" width="50%">
        </div>
      </li>
      {% endfor %}

    </ol>
  </div>

</div>
