---
layout: default
---

<!-- activities.html -->
<div class="post">
  <!-- activities.md content -->
  <div class="clearfix">
    {{ content }}
  </div>

  <script>
    var itemsPerPage = {{items_per_page}}; // 每页显示的项数
    var currentPage = 1;
  </script>

  <div class="publications">
      <div style="display: flex; justify-content: left; padding:5px; flex-wrap: wrap">

        <div style="border: solid #333333; border-width: 1.5px; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 0.25rem; align-items: center; margin: 5px;">
          <a id="all" style="font-weight: 200;">
            ALL
          </a>
        </div>
        
        {% for tag in page.all_tags %}
        <div style="border: solid #333333; border-width: 1.5px; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 0.25rem; align-items: center; margin: 5px;">
          <a id="{{tag}}" style="font-weight: 200; text-transform: uppercase;">
            {{tag}}
          </a>
        </div>

        <script>
          document.getElementById("{{tag}}").addEventListener("click", function() {
            var listItemsAll = document.querySelectorAll(".show_list li");
            for (var i = 0; i < listItemsAll.length; i++) {
              var listItem = listItemsAll[i];
              if (listItem.classList.contains("{{tag}}")) {
                listItem.style.display = "block";
              } else {
                listItem.style.display = "none";
              }
            }

            var listItems = document.querySelectorAll(".show_list li:not([style*='display: none'])");
            createPaginationButtons(listItems);
            showPage(currentPage, listItems);
          });
          
        </script>
        {% endfor %}

      </div>
  </div>

  <script>
    document.getElementById("all").addEventListener("click", function() {
      // var listItemsAll = document.querySelectorAll(".show_list li");
      // for (var i = 0; i < listItemsAll.length; i++) {
      //   var listItem = listItemsAll[i];
      //   listItem.style.display = "block";
      // }
      var listItems = document.querySelectorAll(".show_list li");
      createPaginationButtons(listItems);
      showPage(currentPage, listItems);
    });
    
  </script>

  <div class="publications list_">
    <ol class="bibliography show_list">

      {% assign sorted_activities = site.activities | sort_natural: 'date' %}
      {% for activity in sorted_activities %}
      {% assign tags_string = activity.tags | join: ' ' %}
      <li class="{{tags_string}}">
        <div class="row">
          <div class="col-sm-2 card-img" style="height: 150px;">
            <img src="/assets/ac_img/{{activity.img}}" style="width: 100%; height: 100%; object-fit: contain;border-radius: .25rem;" loading="lazy">
          </div>
          <div class="col-sm-8">
            <a href="{{activity.href}}" class="title">{{activity.title}}</a>
            <div class="author" style="margin-top: 5px;margin-bottom: 5px;">{{activity.people}}</div>
            <div class="periodical" style="margin-top: 5px;margin-bottom: 5px;">{{activity.detail}}</div>
            <div class="links"> 
              {% for tag in activity.tags %}
              <a href="" class="btn btn-sm z-depth-0" role="button">{{tag}}</a> 
              {% endfor %}
            </div>
          </div>
          <hr color="#cccccc" size="2" width="50%">
        </div>
      </li>
      {% endfor %}

    </ol>
  </div>

  <div id="pagination" style="margin: 10px; display: flex; justify-content: center;">
  </div>

</div>

<script>

  function showPage(page, listItems) {
    for (var i = 0; i < listItems.length; i++) {
      listItems[i].style.display = "none";
    }

    var startIndex = (page - 1) * itemsPerPage;
    var endIndex = startIndex + itemsPerPage;

    for (var i = startIndex; i < endIndex; i++) {
      if (listItems[i]) {
        listItems[i].style.display = "block";
      }
    }
  }

  function createPaginationButtons(listItems) {
    var totalPages = Math.ceil(listItems.length / itemsPerPage);

    var paginationDiv = document.getElementById("pagination");
    paginationDiv.innerHTML = ''; // 清空之前的按钮

    var maxButtonsToShow = Math.min(totalPages, 5); // 最多显示的按钮数量，取总页数和5的较小值

    for (var i = 1; i <= totalPages; i++) {
      var button = document.createElement("button");
      button.textContent = i;
      button.addEventListener("click", function () {
        currentPage = parseInt(this.textContent);
        showPage(currentPage, listItems);
      });
      paginationDiv.appendChild(button);
    }
  }

  var listItems = document.querySelectorAll(".show_list li");

  createPaginationButtons(listItems);
  showPage(currentPage, listItems);
</script>
