---
layout: default
---

<!-- team.html -->
<div class="post">
    <header class="post-header">
      <!-- <h1 class="post-title">
        {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
      </h1> -->
      <p class="desc"><b>{{ page.subtitle }}</b></p>
    </header>
  
    <article>
        <h2>Github Repositories</h2>
        
        <div class="repositories d-flex flex-wrap flex-md-row flex-column justify-content-between align-items-center">
            
            {% for repo in page.repos %}
            <div class="repo p-2 text-center">
                <a href="https://github.com/MLNLP-World/{{repo}}" rel="external nofollow noopener" target="_blank">
                    <img class="repo-img-light w-100" alt="" src="https://github-readme-stats.vercel.app/api/pin/?username=MLNLP-World&repo={{repo}}&theme=default&show_owner=false">
                </a>
            </div>
            {% endfor %}

        </div>
    </article>
</div>