---
layout: default
---

<!-- team.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    Some Text
    
    <br>
    Some text
    <br>
    Some text
    <br>

          <br>
        <div class="speakers">
            <h2>Core members</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- libo qin -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/libo_qin.jpg" srcset="/assets/img/libo_qin.jpg" style="width: 150px; height: 150px; object-fit: contain;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Libo Qin
                                        </h4>

                                        <h6 class="card-text">Central South University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Google Scholar">
                                                    <a href="https://scholar.google.com/citations?user=8lVpK1QAAAAJ&hl=en" title="GoogleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- new item -->


                </div>
            </div>
        </div>
    <br>


    <br>
    <h3 class="post-title"><span class="font-weight-bold">Contact</span></h3>
    Contact us at
    <a href="mailto:ml_nlp@163.com" target="_blank">ml_nlp@163.com</a>.

  </article>

</div>